.category {
  margin-bottom: 15px;
  margin-top: 10px;
  &-list {
    @include flex(center, flex-start);
  }
  &-item {
    font-size: 1.2rem;
    color: $color-text-light;
    vertical-align: baseline;
    cursor: pointer;
    margin-right: 20px;
    &:hover {
      color: $color-text-hover;
    }
  }
  &-firstchild {
    font-size: 1.6rem;
    border-bottom: 1px solid $color-purple;
    padding: 6px 0;
    color: $color-text;
    font-weight: 600;
  }
  &-content {
    @include flex();
    padding-bottom: 15px;
    border-bottom: 1px solid $color-border;
    margin-bottom: 22px;
    & > * {
      width: calc(100% / 3);
      margin-right: 15px;
      &:last-child {
        margin-right: 0;
        border-left: 1px solid $color-border;
        padding-left: 15px;
      }
    }
  }
  &-new {
    &-title {
      font-weight: 600;
      margin-bottom: 12px;
    }
    &-content {
      line-height: 1.4;
      font-size: 1.4rem;
      color: $color-text;
      font-family: "Inter", sans-serif;
    }
  }
  &-more {
    &-item {
      font-size: 1.4rem;
      font-weight: 600;
      line-height: 1.6;
      position: relative;
      padding-bottom: 15px;
      border-bottom: 1px solid gray;
      cursor: pointer;
      &:hover {
        color: $color-text-hover;
      }
      &::before {
        content: "";
        @include absolute(10px, unset, unset, 0);
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: $color-gray-light;
      }
    }
  }
}

.category {
  &-wrap {
    width: calc((100% / 3) * 2);
    background-color: $color-background-second;
    padding: 25px;
    @include flex(flex-start, center);
    & > * {
      flex: 1;
      &:first-child {
        padding-top: 5px;
        font-size: 2rem;
        &:hover {
          color: $color-text-hover;
        }
      }
      &:last-child {
        padding-left: 20px;
      }
    }
  }
}

.table-gold td,
.table-gold th {
  border: 1px solid $color-border;
  padding: 4px;
}

.table-gold {
  cursor: pointer;
}

.sport-match {
  @include flex();
  margin: 15px 0 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgb(202, 192, 192);
}

.match {
  &-date {
    margin-bottom: 10px;
    color: $color-text-light;
  }
  &-item {
    border: 1px solid $color-border;
    padding: 8px 8px 4px;
    min-width: 140px;
    @include flex(flex-start, center, column);
    &:hover {
      background-color: $color-background-second;
      cursor: pointer;
    }
  }
  &-team {
    @include flex(center, space-between);
    font-size: 1.2rem;
    margin-bottom: 6px;
    & img {
      width: 14px;
      margin-right: 4px;
    }
    & span {
      white-space: nowrap;
    }
  }
  &-item.end {
    background-color: $color-background-second;
    & > .match-date {
      width: 100%;
      @include flex(flex-start, space-between);
    }
    & > .match-team {
      width: 100%;
      height: 14px;
      @include flex(center);
      &:last-child {
        margin-left: auto;
      }
      & p {
        margin-bottom: 0;
        margin-left: auto;
        font-weight: bold;
      }
    }
  }
}

.match-item-lastchild {
  @include flex(center, center);
  display: flex !important;
  height: 74px;
  background-color: #fff;
}

.btn-match {
  border: none;
  outline: none;
  @include flex(center, center);
  padding: 8px 12px;
  border-radius: 0.2rem;
  font-size: 1.4rem;
  background-color: $color-background-second;
  &:hover {
    background-color: $color-border;
  }
  & i {
    margin-left: 8px;
  }
}

.slick-prev-match {
  top: 0;
  left: 0;
}

.slick-next-match {
  top: 0;
  right: 0;
}

.slick-arrow-match {
  border-radius: 0;
  height: 74px;
  width: 30px;
  padding: 8px;
  background-color: $color-background;
  box-shadow: none;
  color: $color-text;
  outline: none !important;
  border: 1px solid $color-border !important;
}

.health {
  &-box {
    padding: 15px 15px 20px;
    border: 1px solid $color-border;
    @include flex(flex-start, space-between);
    &-line {
      width: 100%;
      border-bottom: 1px solid $color-border;
      margin: 20px 0 15px;
    }
  }
  &-question {
    padding-right: 2rem;
    width: 55%;
    &-title {
      font-size: 1.2rem;
      font-weight: 500;
      background-color: $color-blue;
      color: #fff;
      padding: 8px 6px;
      margin-bottom: 10px;
    }
    &-content {
      line-height: 1.5;
      margin-bottom: 10px;
      font-size: 1.4rem;
      & span {
        cursor: pointer;
        font-style: italic;
      }
    }
    &-submit {
      padding: 10px 12px;
      border: none;
      outline: none;
      background-color: $color-blue;
      color: #fff;
      font-size: 1.4rem;
      margin-right: 15px;
    }
    &-date {
      font-weight: 600;
      color: #000;
      font-size: 1.4rem;
    }
  }
  &-doctor {
    &-label {
      font-size: 1.4rem;
      padding: 6px 8px;
      background-color: $color-background-second;
      position: relative;
      max-width: 160px;
      margin-bottom: 10px;
      &::after {
        content: "";
        top: 0;
        right: 0;
        position: absolute;
        background-color: $color-background-second;
        border-width: 13px;
        border-style: solid;
        border-color: $color-background $color-background $color-background $color-background-second;
      }
    }
    &-slider {
      width: 45%;
    }
    &-list {
      @include flex(center, space-between);
    }
    &-wrap {
      @include flex();
    }
    &-image {
      width: 100px;
      border: 1px solid $color-border;
      margin-right: 8px;
    }
    &-name {
      font-size: 1.6rem;
      margin-bottom: 10px;
    }
    &-desc {
      font-size: 1.4rem;
      line-height: 1.3;
    }
  }
}