.talk {
  @include flex(flex-start, flex-start, row, nowrap);
  &-lefts {
    padding-bottom: 20px;
    border-right: 1px solid $color-border;
    width: 70%;
  }
  &-right {
    width: 30%;
  }
  &-content {
    border-bottom: 0;
    margin-bottom: 20px;
    background-color: $color-background-second;
    padding: 25px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &-wrapper {
    @include flex();
    border-bottom: 1px solid $color-border;
    padding-bottom: 20px;
    margin-right: 20px;
    & > * {
      width: 50%;
      margin-right: 15px;
      &:first-child {
        background-color: $color-background-second;
      }
    }
  }
  &-center {
    padding: 0;
  }
  &-new-left {
    width: 100%;
    padding-left: 0 !important;
    border-left: 0 !important;
  }
}

// Idea, comedy

.category-wrap-two {
  @include flex();
  & .travel-left {
    width: 100%;
  }
  & .category-wrap-item:first-child {
    border-right: 1px solid $color-border;
    width: calc(50% - 10px);
    padding-top: 20px;
  }
  & .category-wrap-item:last-child {
    padding-top: 20px;
    width: calc(50% + 10px);
    padding-left: 20px;
  }
  & .category-new-left {
    border-left: 0 !important;
  }
  & .travel-wrapper {
    border-bottom: 0;
  }
  & .category-content {
    border-bottom: 1px solid $color-border;
  }
  & .category-content:last-child {
    border-bottom: 0;
  }
}
// Selling box

.selling {
  &-box {
    border: 1px solid $color-border;
    margin-left: 15px;
  }
  &-title {
    background-color: $color-background-second;
    @include flex(center, space-between);
    font-size: 1.4rem;
    padding: 10px;
  }
  &-logo {
    width: 60px;
  }
  &-slider {
    @include flex(center, space-evenly);
  }
  &-item {
    font-size: 1.2rem;
    margin: 10px 10px 10px 10px;
    @include flex(center, center, column);
    display: flex !important;
    background-color: $color-background-second;
    padding: 5px;
  }
  &-avatar {
    width: 100px;
    border-radius: 0.5rem;
    margin: 0 auto 8px;
  }
  &-name {
    font-weight: bold;
    margin-bottom: 15px;
    padding: 0 15px;
  }
  &-address {
    color: $color-text-light;
    margin-top: 5px;
    margin-bottom: 15px;
    padding: 0 15px;
  }
  &-action {
    width: 100%;
    padding: 4px 0;
    border: 1px solid #40a691;
    font-size: 1.2rem;
    border-radius: 0.5rem;
    color: #40a691;
  }
}
