.podcast {
  border-bottom: 1px solid $color-border;
  margin-bottom: 20px;
  &-wrap {
    @include flex();
  }
  &-content {
    min-width: calc(100% / 3);
    @include flex(flex-start, space-between, row-reverse);
    border-right: 1px solid $color-border;
    border-bottom: 0;
    &:first-child div{
      padding-left: 0;
    }
    &:last-child {
      border-right: 0;
    }
  }
  &-img {
    margin-right: 0;
    margin-left: 20px;
    padding-right: 20px;
  }
  &-new {
    &-left {
      border-left: none !important;
      width: 100%;
    }
    &-title {
    }
    &-content {
    }
  }
}

.category-three {
  @include flex();
  border-bottom: 1px solid $color-border;
}

.category-one {
  width: calc(100% / 3);
  padding-left: 20px;
  padding-right: 20px;
  border-right: 1px solid $color-border;
  &:first-child {
    padding-left: 0;
  }
  &-last-child {
    border-right: 0;
  }
}

.category-news-left {
  padding-left: 0!important;
}

.news {
  &-content {
    @include flex(flex-start, flex-start, column);
    & > * {
      width: 100%;
    }
    &:first-child {
      margin-bottom: 0;
    }
    &:last-child {
      border-bottom: 0;
    }
  }
  &-new {
    &-left {
      border-left: 0 !important;
      padding-left: 0 !important;
    }
  }
  &-wrap {
    @include flex(flex-start, flex-start, column);
  }
}

.world-img,
.law-img {
  margin-bottom: 10px;
}

.world-content,
.law-content {
  border-bottom: 0;
  margin-top: 20px;
}

// Travel


.travel {
  &-wrapper {
    padding-bottom: 15px;
    border-bottom: 1px solid $color-border;
    margin-bottom: 20px;
    @include flex();
  }
  &-left {
    padding-right: 20px;
    width: 45%;
    & .travel-content {
      border-bottom: 0;
    }
  }
  &-center {
    width: 25%;
    padding-left: 20px;
    padding-right: 20px;
    border-left: 1px solid $color-border;
    border-right: 1px solid $color-border;
    & .travel-new-left {
      border-left: 0;
    }
    & .travel-new-title {
      margin-bottom: 0;
    }
    & .travel-content:last-child {
      border-bottom: 0;
    }
  }
  &-right {
    padding-left: 20px;
    width: 30%;
    & .travel-img {
      max-width: 100px;
      margin-right: 0;
      margin-left: 8px;
    }
    & .travel-content {
      flex-direction: row-reverse;
      padding-bottom: 0;
      margin-bottom: 15px;
    }
    & .travel-new-left {
      border-left: 0;
    }
  }
  &-content {
    flex-direction: column;
  }
  &-img {
    width: 100%;
    margin-bottom: 15px;
  }
  &-new {
    &-left {
      width: 100%;
      padding-left: 0!important;
    }
  }
}

.car {
  &-content {
    @include flex(flex-start, flex-start, column);
    background-color:#d6edfa;
    padding: 8px;
    position: relative;
    overflow: hidden;
    &::after {
      content: "";
      position: absolute;
      bottom: 70%;
      left: 30%;
      background: url('../images/car6.png') no-repeat;
      width: 70%;
      height: 70%;
    }
  }
  &-title {
    font-size: 1.6rem;
    margin-bottom: 10px;
    font-weight: bold;
  }
  &-desc {
    font-size: 1.2rem;
    width: 100%;
    color: $color-text-light;
    margin-bottom: 10px;
  }
  &-search {
    padding-left: 0!important;
    @include flex(center, flex-start);
    overflow: hidden;
    width: 100%;
    height: 33px;
    border-radius: .5rem;
    &-input {
      background-color:#fff;
      border: none;
      outline: none;
      padding: 12px;
      font-size: 1.4rem;
      color: $color-text-light;
    }
    &-btn {
      background-color:#fff;
      border: none;
      outline: none;
      padding: 12px;
      border-radius: .5rem;
      overflow: hidden;
      & i {
        font-size: 1.4rem;
      }
    }
  }
}