*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
  line-height: 1;
  color: #222;
  overflow-x: hidden;
  background-color: #fff;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

img {
  display: block;
}

a {
  display: block;
  color: #222;
  text-decoration: none;
}

ul {
  list-style: none;
}

.app {
  margin: 0 auto;
  padding: 0 20px;
}

.container {
  width: 1100px;
  margin: 0 auto;
}

.caption {
  font-family: "Merriweather", serif;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: #bdbdbd;
  border-radius: 1rem;
}

.header {
  margin-top: -100px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
}
.header-left {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
}
.header-logo {
  position: relative;
  border-right: 1px solid #e5e5e5;
  padding-right: 2rem;
}
.header-logo-img {
  width: 150px;
  z-index: 100;
}
.header-logo-background {
  position: absolute;
  top: -10px;
  right: unset;
  bottom: unset;
  left: -14px;
  height: 50px;
  z-index: 0;
}
.header-date {
  padding-left: 2rem;
  font-size: 1.4rem;
  color: #8a758a;
}
.header-right {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
}
.header-link {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  border-right: 1px solid #e5e5e5;
}
.header-link-item {
  padding: 0.8rem 1rem;
  border: 1px solid #e5e5e5;
  border-radius: 0.3rem;
  font-size: 1.4rem;
  color: #8a758a;
  margin-right: 1.5rem;
}
.header-link-item:hover {
  background-color: #f7f7f7;
}
.header-link-item span {
  margin-left: 0.5rem;
}
.header-link-item:nth-child(1) span {
  margin-left: 0;
}
.header-link-item:nth-child(2) {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
}
.header-link-img {
  max-width: 14px;
}
.header-search {
  margin-left: 1.5rem;
  border: 1px solid #e5e5e5;
  border-radius: 5rem;
  padding: 8px 15px;
}
.header-search-input {
  max-width: 120px;
  border: none;
  outline: none;
  font-size: 1.5rem;
}
.header-search i {
  color: #bdbdbd;
  font-size: 1.5rem;
  cursor: pointer;
}
.header-user {
  cursor: pointer;
  margin-left: 10px;
}
.header-user:hover span {
  color: #087cce;
}
.header-user i, .header-user span {
  font-size: 1.5rem;
  color: #bdbdbd;
}
.header-user span {
  color: #222;
  margin-left: 5px;
}

.menutop {
  height: 50px;
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  top: 0;
  margin-top: 50px;
  background-color: #fff;
  box-shadow: 0 2px 5px 0 #e5e5e5;
  z-index: 100;
}
.menutop-list {
  transition: all linear 0.1s;
  margin: 0 auto;
  width: 1040px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
}
.menutop-item {
  font-size: 1.4rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
}
.menutop-item--logo {
  display: none;
}
.menutop-item--logo img {
  max-width: 20px;
  margin-right: 10px;
}
.menutop-item--logo span {
  color: #b52759;
}
.menutop-item--logo.show {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
}
.menutop-item:hover {
  color: #b52759;
}
.menutop-item:first-child {
  padding: 5px;
  background-color: #e5e5e5;
  border-radius: 50%;
}
.menutop-item:first-child:hover {
  background-color: #b52759;
  color: white;
}
.menutop-item:nth-child(7):hover {
  color: #065e9d;
}
.menutop-item:nth-child(8):hover {
  color: #ad9634;
}
.menutop-item:nth-child(9):hover {
  color: #ec326b;
}
.menutop-item:nth-child(10):hover {
  color: #5fae2e;
}
.menutop-item:nth-child(11):hover {
  color: #923a3c;
}
.menutop-item:nth-child(12):hover {
  color: #eb7600;
}
.menutop-item:nth-child(13):hover {
  color: #049b93;
}
.menutop-item:nth-child(14):hover {
  color: #309fcb;
}
.menutop-item:nth-child(15):hover {
  color: #0083d6;
}
.menutop-item:last-child {
  color: #bdbdbd;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
}
.menutop-item:last-child:hover {
  color: #b52759;
}
.menutop-item:last-child i {
  font-size: 1.6rem;
}
.menutop-item:last-child span {
  margin-right: 5px;
}

.newstop {
  margin-top: 70px;
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 20px;
}
.newstop-main {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-bottom: 20px;
}
.newstop-main-img {
  width: 520px;
  height: 310px;
}
.newstop-title {
  padding: 20px;
  width: 260px;
  background-color: #f7f7f7;
  height: 310px;
}
.newstop-caption {
  font-size: 2rem;
  line-height: 1.5;
  font-weight: 600;
  margin-bottom: 20px;
  cursor: pointer;
}
.newstop-caption:hover {
  color: #087cce;
}
.newstop-content {
  font-size: 1.4rem;
  line-height: 1.3;
}
.newstop-sub {
  max-width: 520px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
}
.newstop-sub-item {
  cursor: pointer;
  width: calc(50% - 10px);
}
.newstop-sub-caption {
  font-size: 1.6rem;
  margin-bottom: 15px;
  line-height: 1.5;
  cursor: pointer;
}
.newstop-sub-caption:hover {
  color: #087cce;
}
.newstop-sub-content {
  font-size: 1.4rem;
  line-height: 1.5;
  cursor: pointer;
}
.newstop-sub-comment {
  font-size: 1.2rem;
  cursor: pointer;
}
.newstop-sub-comment i {
  color: #bdbdbd;
}
.newstop-sub-comment span {
  color: #087cce;
}
.newstop-sub-view {
  border-left: 1px solid #e5e5e5;
  padding: 0 20px;
  max-width: 260px;
}
.newstop-sub-label {
  color: #b52759;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 1.3rem;
  font-weight: 800;
}
.newstop-sub-auth {
  margin-top: 30px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
}
.newstop-sub-authimg {
  background-color: #e5e5e5;
  border-radius: 50%;
  width: 50px;
}
.newstop-sub-authname {
  font-size: 1.4rem;
  font-style: italic;
  color: #8a758a;
  margin-bottom: 12px;
  display: block;
}
.newstop-sub-wrap {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
}

.newbottom {
  margin-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
}
.newbottom-left {
  border-right: 1px solid #e5e5e5;
  width: 400px;
}
.newbottom-left-item {
  margin-right: 20px;
  margin-bottom: 10px;
  padding-bottom: 25px;
  border-bottom: 1px solid #e5e5e5;
}
.newbottom-left-item:last-child {
  border-bottom: none;
}
.newbottom-left-caption {
  margin-bottom: 10px;
}
.newbottom-left-desc {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
}
.newbottom-left-img {
  cursor: pointer;
  width: 144px;
  margin-right: 5px;
}
.newbottom-right {
  margin-left: 20px;
  width: calc(100% - 400px);
}

.chart {
  width: 100%;
}
.chart-heading {
  height: 50px;
  border-bottom: 1px solid #e5e5e5;
}
.chart-heading-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
}
.chart-heading-item {
  width: auto !important;
  font-size: 1.3rem;
  white-space: nowrap;
  padding: 0.8rem 1rem;
  border: 1px solid #087cce;
  border-radius: 0.2rem;
  margin-left: 1rem;
  cursor: pointer;
}
.chart-heading-item--firstchild {
  border: none;
  font-weight: 600;
}
.chart-heading-item--lastchild {
  background-color: #087cce;
  color: #fff;
}
.chart-caption {
  margin: 25px 0 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
}
.chart-caption-name {
  font-size: 1.8rem;
  font-weight: 700;
}
.chart-caption-vaccine {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 270px;
}
.chart-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 15px 0 10px;
  font-size: 1.4rem;
  color: #8a758a;
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 15px;
}
.chart-action {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
}
.chart-action a {
  color: #087cce;
  text-decoration: underline;
}
.chart-action a:first-child {
  margin-right: 15px;
}
.chart-slider {
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 5px;
  margin-bottom: 20px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
}
.chart-slider-list {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 34px;
  overflow: auto;
}
.chart-slider-list::-webkit-scrollbar {
  display: none;
}
.chart-slider-item {
  font-size: 1.4rem;
  color: #087cce;
  text-decoration: underline;
  white-space: nowrap;
  margin: 0 15px;
}
.chart-slider-sick, .chart-slider-question {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  white-space: nowrap;
  padding: 10px;
  background-color: #e6f4f9;
  font-size: 1.4rem;
  border-radius: 0.2rem;
}
.chart-slider-sick i, .chart-slider-question i {
  color: #087cce;
  margin-right: 5px;
}

.statistic-left {
  border-right: 1px solid #e5e5e5;
  padding: 0;
  padding-right: 20px;
}
.statistic-left-title {
  padding: 0;
  text-align: right;
  margin-bottom: 20px;
  font-size: 1.2rem;
  font-weight: 300;
}
.statistic-left-title div {
  padding: 0;
}
.statistic-infection, .statistic-serious, .statistic-death {
  white-space: nowrap;
  margin-bottom: 15px;
  font-size: 1.6rem;
}
.statistic-infection div, .statistic-serious div, .statistic-death div {
  padding: 0;
}
.statistic-infection div:first-child, .statistic-serious div:first-child, .statistic-death div:first-child {
  font-weight: 700;
  font-size: 1.4rem;
}
.statistic-infection div:nth-child(2), .statistic-infection div:nth-child(3), .statistic-serious div:nth-child(2), .statistic-serious div:nth-child(3), .statistic-death div:nth-child(2), .statistic-death div:nth-child(3) {
  font-family: "Merriweather", serif;
  text-align: right;
}
.statistic-infection div:not(:nth-child(1)) {
  color: #ff392b;
}
.statistic-serious div:not(:nth-child(1)) {
  color: #8a1839;
}
.statistic-death div:not(:nth-child(1)) {
  color: #222228;
}
.statistic-right {
  height: 120px;
  overflow: auto;
}
.statistic-right-title {
  padding: 0;
  margin-bottom: 20px;
  font-size: 1.2rem;
}
.statistic-right-title span {
  padding: 0;
}
.statistic-right-title span:not(:first-child) {
  text-align: right;
}
.statistic-right-heading {
  white-space: nowrap;
}
.statistic-right-heading--infection {
  padding-right: 10px !important;
}
.statistic-right-item {
  margin-bottom: 10px;
  font-size: 1.4rem;
}
.statistic-right-item span {
  padding: 0;
}
.statistic-right-item span:nth-child(2) {
  font-weight: 600;
  padding-right: 10px;
  text-align: right;
}
.statistic-right-item span:nth-child(3) {
  text-align: right;
}

.vaccine-title {
  font-size: 1.4rem;
  color: #00945e;
  font-weight: 700;
  white-space: nowrap;
}
.vaccine-progress {
  background-color: #00945e;
  color: #fff;
  padding: 5px 10px;
  font-size: 1.2rem;
  font-weight: 500;
}

.progress-vaccine {
  height: 20px;
}

.slick-arrow {
  position: absolute;
  padding: 12px;
  border: none !important;
  outline: none !important;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 0 20px 20px #fff;
  z-index: 10;
}

.slick-prev {
  left: 0;
  top: 0;
}

.slick-next {
  right: 0;
  top: 0;
}

.slick-arrow-slider {
  padding: 8px;
  border-radius: 50%;
  background-color: #bdbdbd;
  box-shadow: none;
  color: #fff;
  border: none !important;
  outline: none !important;
}

.slick-prev-slider {
  right: 30px;
}

.slick-next-slider {
  right: 5px;
}

.slider-after-newbottom {
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
  border-bottom: 1px solid #e5e5e5;
  padding: 10px 20px;
  margin-bottom: 15px;
}
.slider-after-newbottom-caption {
  color: #8a758a;
}
.slider-after-newbottom-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-bottom: 0;
}
.slider-after-newbottom-item {
  margin-left: 40px;
  color: #b52759;
  text-decoration: underline;
}

.category {
  margin-bottom: 15px;
  margin-top: 10px;
}
.category-list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
}
.category-item {
  font-size: 1.2rem;
  color: #8a758a;
  vertical-align: baseline;
  cursor: pointer;
  margin-right: 20px;
}
.category-item:hover {
  color: #087cce;
}
.category-firstchild {
  font-size: 1.6rem;
  border-bottom: 1px solid #b52759;
  padding: 6px 0;
  color: #222;
  font-weight: 600;
}
.category-content {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
  padding-bottom: 15px;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 22px;
}
.category-content > * {
  width: 33.3333333333%;
  margin-right: 15px;
}
.category-content > *:last-child {
  margin-right: 0;
  border-left: 1px solid #e5e5e5;
  padding-left: 15px;
}
.category-new-title {
  font-weight: 600;
  margin-bottom: 12px;
}
.category-new-content {
  line-height: 1.4;
  font-size: 1.4rem;
  color: #222;
  font-family: "Inter", sans-serif;
}
.category-more-item {
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.6;
  position: relative;
  padding-bottom: 15px;
  border-bottom: 1px solid gray;
  cursor: pointer;
}
.category-more-item:hover {
  color: #087cce;
}
.category-more-item::before {
  content: "";
  position: absolute;
  top: 10px;
  right: unset;
  bottom: unset;
  left: 0;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #bdbdbd;
}

.category-wrap {
  width: 66.6666666667%;
  background-color: #f7f7f7;
  padding: 25px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
}
.category-wrap > * {
  flex: 1;
}
.category-wrap > *:first-child {
  padding-top: 5px;
  font-size: 2rem;
}
.category-wrap > *:first-child:hover {
  color: #087cce;
}
.category-wrap > *:last-child {
  padding-left: 20px;
}

.table-gold td,
.table-gold th {
  border: 1px solid #e5e5e5;
  padding: 4px;
}

.table-gold {
  cursor: pointer;
}

.sport-match {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 15px 0 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #cac0c0;
}

.match-date {
  margin-bottom: 10px;
  color: #8a758a;
}
.match-item {
  border: 1px solid #e5e5e5;
  padding: 8px 8px 4px;
  min-width: 140px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
}
.match-item:hover {
  background-color: #f7f7f7;
  cursor: pointer;
}
.match-team {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
  font-size: 1.2rem;
  margin-bottom: 6px;
}
.match-team img {
  width: 14px;
  margin-right: 4px;
}
.match-team span {
  white-space: nowrap;
}
.match-item.end {
  background-color: #f7f7f7;
}
.match-item.end > .match-date {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
}
.match-item.end > .match-team {
  width: 100%;
  height: 14px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
}
.match-item.end > .match-team:last-child {
  margin-left: auto;
}
.match-item.end > .match-team p {
  margin-bottom: 0;
  margin-left: auto;
  font-weight: bold;
}

.match-item-lastchild {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  display: flex !important;
  height: 74px;
  background-color: #fff;
}

.btn-match {
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 8px 12px;
  border-radius: 0.2rem;
  font-size: 1.4rem;
  background-color: #f7f7f7;
}
.btn-match:hover {
  background-color: #e5e5e5;
}
.btn-match i {
  margin-left: 8px;
}

.slick-prev-match {
  top: 0;
  left: 0;
}

.slick-next-match {
  top: 0;
  right: 0;
}

.slick-arrow-match {
  border-radius: 0;
  height: 74px;
  width: 30px;
  padding: 8px;
  background-color: #fff;
  box-shadow: none;
  color: #222;
  outline: none !important;
  border: 1px solid #e5e5e5 !important;
}

.health-box {
  padding: 15px 15px 20px;
  border: 1px solid #e5e5e5;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
}
.health-box-line {
  width: 100%;
  border-bottom: 1px solid #e5e5e5;
  margin: 20px 0 15px;
}
.health-question {
  padding-right: 2rem;
  width: 55%;
}
.health-question-title {
  font-size: 1.2rem;
  font-weight: 500;
  background-color: #196ab4;
  color: #fff;
  padding: 8px 6px;
  margin-bottom: 10px;
}
.health-question-content {
  line-height: 1.5;
  margin-bottom: 10px;
  font-size: 1.4rem;
}
.health-question-content span {
  cursor: pointer;
  font-style: italic;
}
.health-question-submit {
  padding: 10px 12px;
  border: none;
  outline: none;
  background-color: #196ab4;
  color: #fff;
  font-size: 1.4rem;
  margin-right: 15px;
}
.health-question-date {
  font-weight: 600;
  color: #000;
  font-size: 1.4rem;
}
.health-doctor-label {
  font-size: 1.4rem;
  padding: 6px 8px;
  background-color: #f7f7f7;
  position: relative;
  max-width: 160px;
  margin-bottom: 10px;
}
.health-doctor-label::after {
  content: "";
  top: 0;
  right: 0;
  position: absolute;
  background-color: #f7f7f7;
  border-width: 13px;
  border-style: solid;
  border-color: #fff #fff #fff #f7f7f7;
}
.health-doctor-slider {
  width: 45%;
}
.health-doctor-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
}
.health-doctor-wrap {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
}
.health-doctor-image {
  width: 100px;
  border: 1px solid #e5e5e5;
  margin-right: 8px;
}
.health-doctor-name {
  font-size: 1.6rem;
  margin-bottom: 10px;
}
.health-doctor-desc {
  font-size: 1.4rem;
  line-height: 1.3;
}

.podcast {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 20px;
}
.podcast-wrap {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
}
.podcast-content {
  min-width: 33.3333333333%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  border-right: 1px solid #e5e5e5;
  border-bottom: 0;
}
.podcast-content:first-child div {
  padding-left: 0;
}
.podcast-content:last-child {
  border-right: 0;
}
.podcast-img {
  margin-right: 0;
  margin-left: 20px;
  padding-right: 20px;
}
.podcast-new-left {
  border-left: none !important;
  width: 100%;
}
.category-three {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
  border-bottom: 1px solid #e5e5e5;
}

.category-one {
  width: 33.3333333333%;
  padding-left: 20px;
  padding-right: 20px;
  border-right: 1px solid #e5e5e5;
}
.category-one:first-child {
  padding-left: 0;
}
.category-one-last-child {
  border-right: 0;
}

.category-news-left {
  padding-left: 0 !important;
}

.news-content {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: nowrap;
}
.news-content > * {
  width: 100%;
}
.news-content:first-child {
  margin-bottom: 0;
}
.news-content:last-child {
  border-bottom: 0;
}
.news-new-left {
  border-left: 0 !important;
  padding-left: 0 !important;
}
.news-wrap {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: nowrap;
}

.world-img,
.law-img {
  margin-bottom: 10px;
}

.world-content,
.law-content {
  border-bottom: 0;
  margin-top: 20px;
}

.travel-wrapper {
  padding-bottom: 15px;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 20px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
}
.travel-left {
  padding-right: 20px;
  width: 45%;
}
.travel-left .travel-content {
  border-bottom: 0;
}
.travel-center {
  width: 25%;
  padding-left: 20px;
  padding-right: 20px;
  border-left: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
}
.travel-center .travel-new-left {
  border-left: 0;
}
.travel-center .travel-new-title {
  margin-bottom: 0;
}
.travel-center .travel-content:last-child {
  border-bottom: 0;
}
.travel-right {
  padding-left: 20px;
  width: 30%;
}
.travel-right .travel-img {
  max-width: 100px;
  margin-right: 0;
  margin-left: 8px;
}
.travel-right .travel-content {
  flex-direction: row-reverse;
  padding-bottom: 0;
  margin-bottom: 15px;
}
.travel-right .travel-new-left {
  border-left: 0;
}
.travel-content {
  flex-direction: column;
}
.travel-img {
  width: 100%;
  margin-bottom: 15px;
}
.travel-new-left {
  width: 100%;
  padding-left: 0 !important;
}

.car-content {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: nowrap;
  background-color: #d6edfa;
  padding: 8px;
  position: relative;
  overflow: hidden;
}
.car-content::after {
  content: "";
  position: absolute;
  bottom: 70%;
  left: 30%;
  background: url("../images/car6.png") no-repeat;
  width: 70%;
  height: 70%;
}
.car-title {
  font-size: 1.6rem;
  margin-bottom: 10px;
  font-weight: bold;
}
.car-desc {
  font-size: 1.2rem;
  width: 100%;
  color: #8a758a;
  margin-bottom: 10px;
}
.car-search {
  padding-left: 0 !important;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow: hidden;
  width: 100%;
  height: 33px;
  border-radius: 0.5rem;
}
.car-search-input {
  background-color: #fff;
  border: none;
  outline: none;
  padding: 12px;
  font-size: 1.4rem;
  color: #8a758a;
}
.car-search-btn {
  background-color: #fff;
  border: none;
  outline: none;
  padding: 12px;
  border-radius: 0.5rem;
  overflow: hidden;
}
.car-search-btn i {
  font-size: 1.4rem;
}

.talk {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
}
.talk-lefts {
  padding-bottom: 20px;
  border-right: 1px solid #e5e5e5;
  width: 70%;
}
.talk-right {
  width: 30%;
}
.talk-content {
  border-bottom: 0;
  margin-bottom: 20px;
  background-color: #f7f7f7;
  padding: 25px;
}
.talk-content:last-child {
  margin-bottom: 0;
}
.talk-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 20px;
  margin-right: 20px;
}
.talk-wrapper > * {
  width: 50%;
  margin-right: 15px;
}
.talk-wrapper > *:first-child {
  background-color: #f7f7f7;
}
.talk-center {
  padding: 0;
}
.talk-new-left {
  width: 100%;
  padding-left: 0 !important;
  border-left: 0 !important;
}

.category-wrap-two {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
}
.category-wrap-two .travel-left {
  width: 100%;
}
.category-wrap-two .category-wrap-item:first-child {
  border-right: 1px solid #e5e5e5;
  width: calc(50% - 10px);
  padding-top: 20px;
}
.category-wrap-two .category-wrap-item:last-child {
  padding-top: 20px;
  width: calc(50% + 10px);
  padding-left: 20px;
}
.category-wrap-two .category-new-left {
  border-left: 0 !important;
}
.category-wrap-two .travel-wrapper {
  border-bottom: 0;
}
.category-wrap-two .category-content {
  border-bottom: 1px solid #e5e5e5;
}
.category-wrap-two .category-content:last-child {
  border-bottom: 0;
}

.selling-box {
  border: 1px solid #e5e5e5;
}
.selling-title {
  background-color: #f7f7f7;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
  font-size: 1.4rem;
  padding: 10px;
}
.selling-logo {
  width: 60px;
}
.selling-slider {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: nowrap;
}
.selling-item {
  font-size: 1.2rem;
  margin: 10px 10px 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
  background-color: #f7f7f7;
}
.selling-avatar {
  width: 100px;
  border-radius: 0.5rem;
  margin: 0 auto 8px;
}
.selling-name {
  font-weight: bold;
  margin-bottom: 15px;
  padding: 0 15px;
}
.selling-address {
  color: #8a758a;
  margin-top: 5px;
  margin-bottom: 15px;
  padding: 0 15px;
}
.selling-action {
  width: 100%;
  padding: 4px 0;
  border: 1px solid #40a691;
  font-size: 1.2rem;
  border-radius: 0.5rem;
  color: #40a691;
}

.footer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: nowrap;
}
.footer-top {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  margin-top: 20px;
  padding-top: 20px;
  border-top: 5px solid #e5e5e5;
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
}
.footer-top > * {
  font-size: 1.4rem;
}
.footer-top > *:first-child {
  font-weight: bold;
}
.footer-top > *:nth-child(5) {
  border-left: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
}
.footer-menu-item {
  margin-bottom: 15px;
}
.footer-menu-item:hover {
  text-decoration: underline;
  cursor: pointer;
}
.footer-menu-wrap-img {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-bottom: 6px;
}
.footer-menu-wrap-img img {
  width: 16px;
  margin-right: 5px;
}
.footer-menu-wrap {
  margin-bottom: 6px;
}
.footer-bottom {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}
.footer-bottom-branch {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
}
.footer-bottom-branch img {
  max-width: 180px;
  cursor: pointer;
}
.footer-bottom-social {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;
  flex-wrap: nowrap;
  color: #8a758a;
  font-size: 1.4rem;
}
.footer-bottom-social > * {
  cursor: pointer;
  margin-left: 15px;
}
.footer-bottom-social > *:first-child {
  border-right: 1px solid #e5e5e5;
  padding-right: 15px;
}
.footer-bottom-info {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
}
.footer-bottom-info p {
  white-space: nowrap;
}
.footer-bottom-fb i, .footer-bottom-twitter i, .footer-bottom-ytb i {
  font-size: 1.8rem;
}
.footer-bottom-info {
  margin-top: 20px;
  font-size: 1.25rem;
  font-weight: 500;
}
.footer-bottom-info > * {
  min-width: 33.3333333333%;
}
.footer-bottom-info > *:last-child {
  text-align: right;
}

.border-bottom {
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 15px;
}

/*# sourceMappingURL=style.css.map */
