*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
  line-height: 1;
  color: #222;
  overflow-x: hidden;
  background-color: #fff;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

img {
  display: block;
}

a {
  display: block;
  color: #222;
  text-decoration: none;
}

ul {
  list-style: none;
}

.app {
  margin: 0 auto;
  padding: 0 20px;
  height: 2000px;
}

.container {
  width: 1100px;
  margin: 0 auto;
}

.caption {
  font-family: "Merriweather", serif;
}

.header {
  margin-top: -100px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
}
.header-left {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
}
.header-logo {
  position: relative;
  border-right: 1px solid #e5e5e5;
  padding-right: 2rem;
}
.header-logo-img {
  width: 150px;
  z-index: 100;
}
.header-logo-background {
  position: absolute;
  top: -10px;
  right: unset;
  bottom: unset;
  left: -14px;
  height: 50px;
  z-index: 0;
}
.header-date {
  padding-left: 2rem;
  font-size: 1.4rem;
  color: #8a758a;
}
.header-right {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
}
.header-link {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  border-right: 1px solid #e5e5e5;
}
.header-link-item {
  padding: 0.8rem 1rem;
  border: 1px solid #e5e5e5;
  border-radius: 0.3rem;
  font-size: 1.4rem;
  color: #8a758a;
  margin-right: 1.5rem;
}
.header-link-item:hover {
  background-color: #f7f7f7;
}
.header-link-item span {
  margin-left: 0.5rem;
}
.header-link-item:nth-child(1) span {
  margin-left: 0;
}
.header-link-item:nth-child(2) {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
}
.header-link-img {
  max-width: 14px;
}
.header-search {
  margin-left: 1.5rem;
  border: 1px solid #e5e5e5;
  border-radius: 5rem;
  padding: 8px 15px;
}
.header-search-input {
  max-width: 120px;
  border: none;
  outline: none;
  font-size: 1.5rem;
}
.header-search i {
  color: #bdbdbd;
  font-size: 1.5rem;
  cursor: pointer;
}
.header-user {
  cursor: pointer;
  margin-left: 10px;
}
.header-user:hover span {
  color: #087cce;
}
.header-user i, .header-user span {
  font-size: 1.5rem;
  color: #bdbdbd;
}
.header-user span {
  color: #222;
  margin-left: 5px;
}

.menutop {
  height: 50px;
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  top: 0;
  margin-top: 50px;
  background-color: #fff;
  box-shadow: 0 2px 5px 0 #e5e5e5;
}
.menutop-list {
  transition: all linear 0.1s;
  margin: 0 auto;
  width: 1040px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
}
.menutop-item {
  font-size: 1.4rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
}
.menutop-item--logo {
  display: none;
}
.menutop-item--logo img {
  max-width: 20px;
  margin-right: 10px;
}
.menutop-item--logo span {
  color: #b52759;
}
.menutop-item--logo.show {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
}
.menutop-item:hover {
  color: #b52759;
}
.menutop-item:first-child {
  padding: 5px;
  background-color: #e5e5e5;
  border-radius: 50%;
}
.menutop-item:first-child:hover {
  background-color: #b52759;
  color: white;
}
.menutop-item:nth-child(7):hover {
  color: #065e9d;
}
.menutop-item:nth-child(8):hover {
  color: #ad9634;
}
.menutop-item:nth-child(9):hover {
  color: #ec326b;
}
.menutop-item:nth-child(10):hover {
  color: #5fae2e;
}
.menutop-item:nth-child(11):hover {
  color: #923a3c;
}
.menutop-item:nth-child(12):hover {
  color: #eb7600;
}
.menutop-item:nth-child(13):hover {
  color: #049b93;
}
.menutop-item:nth-child(14):hover {
  color: #309fcb;
}
.menutop-item:nth-child(15):hover {
  color: #0083d6;
}
.menutop-item:last-child {
  color: #bdbdbd;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
}
.menutop-item:last-child:hover {
  color: #b52759;
}
.menutop-item:last-child i {
  font-size: 1.6rem;
}
.menutop-item:last-child span {
  margin-right: 5px;
}

.newstop {
  margin-top: 70px;
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 20px;
}
.newstop-main {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-bottom: 20px;
}
.newstop-main-img {
  width: 520px;
  height: 310px;
}
.newstop-title {
  padding: 20px;
  width: 260px;
  background-color: #f7f7f7;
  height: 310px;
}
.newstop-caption {
  font-size: 2rem;
  line-height: 1.5;
  font-weight: 600;
  margin-bottom: 20px;
  cursor: pointer;
}
.newstop-caption:hover {
  color: #087cce;
}
.newstop-content {
  font-size: 1.4rem;
  line-height: 1.3;
}
.newstop-sub {
  max-width: 520px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
}
.newstop-sub-item {
  cursor: pointer;
  width: calc(50% - 10px);
}
.newstop-sub-caption {
  font-size: 1.6rem;
  margin-bottom: 15px;
  line-height: 1.5;
  cursor: pointer;
}
.newstop-sub-caption:hover {
  color: #087cce;
}
.newstop-sub-content {
  font-size: 1.4rem;
  line-height: 1.5;
  cursor: pointer;
}
.newstop-sub-comment {
  font-size: 1.2rem;
  cursor: pointer;
}
.newstop-sub-comment i {
  color: #bdbdbd;
}
.newstop-sub-comment span {
  color: #087cce;
}
.newstop-sub-view {
  border-left: 1px solid #e5e5e5;
  padding: 0 20px;
  max-width: 260px;
}
.newstop-sub-label {
  color: #b52759;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 1.3rem;
  font-weight: 800;
}
.newstop-sub-auth {
  margin-top: 30px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
}
.newstop-sub-authimg {
  background-color: #e5e5e5;
  border-radius: 50%;
  width: 50px;
}
.newstop-sub-authname {
  font-size: 1.4rem;
  font-style: italic;
  color: #8a758a;
  margin-bottom: 12px;
  display: block;
}
.newstop-sub-wrap {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
}

.newbottom {
  margin-top: 20px;
}
.newbottom-left {
  border-right: 1px solid #e5e5e5;
  width: 400px;
}
.newbottom-left-item {
  margin-right: 20px;
  margin-bottom: 10px;
  padding-bottom: 25px;
  border-bottom: 1px solid #e5e5e5;
}
.newbottom-left-item:last-child {
  border-bottom: none;
}
.newbottom-left-caption {
  margin-bottom: 10px;
}
.newbottom-left-desc {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
}
.newbottom-left-img {
  cursor: pointer;
  width: 144px;
  margin-right: 5px;
}

/*# sourceMappingURL=style.css.map */
